* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.home1 {
  min-height: 200vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.image_back{
  background-image: url('../public/img/imagenes/fondo1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image_back2{
  background-image: url('../public/img/imagenes/fondo2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image_back3{
  background-image: url('../public/img/imagenes/fondo3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image_back4{
  background-image: url('../public/img/imagenes/fondo4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image_back5{
  background-image: url('../public/img/imagenes/fondo5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.image_back6{
  background-image: url('../public/img/imagenes/fondo6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.container_home1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.home2 {
  width: 100%;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
}

.home3 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.nav_bar {
  width: 100%;
  min-height: 10vh;
  color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.none {
  text-decoration: none;
}

.nav_style {
  font-size: 20px;
  color: #d9d9d9;
  gap: 15px;
}

.nav_style:hover {
  color: #bd2424;
}

.h1 {
  font-size: 65px;
  color: #fff;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.3);
  text-decoration: none;
}

.h2 {
  font-size: 45px;
  text-decoration: none;
}

.h3 {
  font-size: 30px;
  text-decoration: none;
}

.h4 {
  font-size: 25px;
  text-decoration: none;
}

.p, .a{
  font-size: 16px;
  color: #d9d9d9;
  text-decoration: none;
}

.icons {
  width: 24px;
  height: 24px;
}


.resaltado {
  color: #922222;
  font-size: 65px;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.3);
}

.boton1 {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #bd2424;
  box-shadow: 0 5px #212529;
}

.boton1:hover {
  box-shadow: 0 3px #212529;
  top: 1px;
}

.boton1:active {
  box-shadow: 0 0 #212529;
  top: 5px;
}

.boton2 {
  font-size: 20;
}

.boton3 {
  font-size: 23;
}

.logo {
  width: 150px;
  height: 50px;
}

.logo2 {
  width: 150px;
  height: 50px;
}

/* CAROUSEL */

.carousel {
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}


.row_carousel {
  display: flex;
  flex-direction: row;
  padding: 40px 40px 40px 40px;
}

.padding {
  padding: 0px 20px 0px 20px;
}

/* CARDS */

.card_city {
  width: 400px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #212529;
}

.image {
  width: 100%;
  height: 22vh;
}

.h2_card {
  font-size: 45px;
  color: #d9d9d9;
  text-decoration: none;
}

.h3_card {
  font-size: 30px;
  color: #d9d9d9;
  text-decoration: none;
}

.card1 {
  min-width: 30;
  min-height: 40;
  border-radius: 7px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

/*FOOTER*/

.footer {
  width: 100%;
  min-height: 17vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #202328;
}

/*SIGN IN*/

.login-box {
  min-width: 320px;
  min-height: 420px;
  background: #202328;
  border-radius: 10px;
  color: #d9d9d9;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.h1_2 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: #d9d9d9;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  color: #d9d9d9;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  background: transparent;
  outline: none;
  height: 40px;
  color: #d9d9d9;
  font-size: 16px;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #d9d9d9;
}

/*CONTACT US*/

.contact-form {
  min-width: 800px;
  background: #202328;
  border-radius: 10px;
  color: #d9d9d9;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form .input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid white;
}

.contact-info ul, .contact-info {
  text-align: center;
  margin: 0 0 1rem 0;
}

.send{
  width: 100%;
  padding: .7em;
  outline: 0;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  max-width: 800px;
  background: #202328;
  border-radius: 10px;
  color: #d9d9d9;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container1 form .input {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid white;
}

.send1{
  width: 100%;
  margin-top: 40px;
  outline: 0;
  margin-bottom: 20px;
}

.search {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  border-radius: 5px;
  width: 250px;
  padding: .5em 1em .5em;
  } 

.check {
    font-size: 18px;
    color: #fff;
    padding-bottom: 10px;
} 

.cards_flex {
  padding: 75px 20px 75px 20px;
  min-width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  text-decoration: none;
  gap: 60px;
}

.contenedor {
  width: 100%;
  min-height: 20vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-decoration: none;
}

.cards_flex2 {
  padding: 75px 20px 75px 20px;
  width: 400px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #212529;
  text-decoration: none;
  color: white;
  gap: 60px;
}